:root {
  --font-family-default: "Montserrat";
  --font-size-default: 14px;
  --font-weight-default: 500;
  --font-weight-bold: 700;
  --color-blue: #2f80ed;
  --color-light-gray: #bdbdbd;
  --color-gray: #b9bdcf;
  --color-white: #ffffff;
}

.page {
  width: 500px;
  margin: auto;
  position: relative;
}

.header-content {
  font-family: "Raleway";
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.045em;
  color: #333333;
}

.tab-links {
  margin: auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 30px 0px 15px 0px;
  border-bottom: 1px solid var(--color-light-gray);
}

.tab {
  font-family: var(--font-family-default);
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-default);
  border: none;
  cursor: pointer;
  color: #333333;
  background-color: var(--color-white);
}

.active {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-blue);
}

.task-adding {
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.task-input {
  flex-basis: 70%;
  border: 1px solid var(--color-light-gray);
  border-radius: 12px;
  padding: 10px;
}

.task-input::placeholder {
  font-family: var(--font-family-default);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-default);
  line-height: 17px;
  color: #828282;
}

.add-button {
  flex-basis: 20%;
  border: 1px solid var(--color-blue);
  border-radius: 12px;
  cursor: pointer;
  color: var(--color-white);
  background: #2f80ed;
}

.add-button:hover {
  background: #679bdf;
}

.todo-ul {
  margin: auto;
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
}

.completed-trash {
  color: var(--color-light-gray);
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
  position: absolute;
  visibility: hidden;
  right: 0px;
}

.todo-ul-item {
  font-family: var(--font-family-default);
  font-style: normal;
  font-weight: var(--font-weight-default);
  font-size: 18px;
  line-height: 22px;
  position: relative;
}

.todo-ul-item:not(:last-child) {
  margin-bottom: 10px;
}

.task-label {
  cursor: pointer;
}

.delete-completed {
  width: 120px;
  height: 40px;
  position: absolute;
  right: 0;
  border-radius: 4px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eb5757;
  cursor: pointer;
  display: none;
  margin-top: 15px;
}

.delete-completed:hover {
  background-color: #f16a6a;
}

.delete-completed-content {
  font-family: var(--font-family-default);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  color: var(--color-white);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  text-align: center;
  color: var(--color-gray);
  margin-bottom: 25px;
}

.link {
  font-weight: var(--font-weight-bold);
  color: var(--color-gray);
}

@media (max-width: 500px) {
  .page {
    width: 300px;
  }
}
